body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgreen; /* Light background color */
}

h1, h2 {
    color: #343a40; /* Darker text color */
}

#weather-info {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
}
